*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
header{
    width: 98.8vw;
    height: 17vh;
    .container_phone{
        width: 100%;
        height: 50%;
        background-color: #3A3A3C;
        display: flex;
        justify-content: space-around;
        .logo1{
            width: 13%;
            height: 100%;
            background-color: rgb(255, 43, 15);
            img{
                width: 160px;
                height: 40px;
                position:absolute;
                left: 55px;
                top: 55px;
            }
        }
        .phone{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .tel{
                color: #f2f2f7da;
                strong{
                    color: #F2F2F7;
                }
            }
        }
        .autorisation{
            width: 14%;
            height: 100%;
            background-color: rgb(255, 30, 0);
        }
    }
    .text{
        width: 100%;
        height: 50%;
        background-color: #2C2C2E;
        display: flex;
        justify-content: space-around;
        .logo2{
            width: 13%;
            height: 100%;
            background-color: rgb(255, 30, 0);
        }
        .Links{
            width: 85%;
            height: 100%;
            .link{
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: rgb(255, 30, 0);
                }
            }
        }
    }
}